body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #525252;
  text-align: center;
}

html,
body {
  width: auto;
  height: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
  fill: #000;
}

.bar {
  fill: LightSeaGreen;
}

.bar:hover {
  fill: DarkSlateGray;
}

/* Center SVG */
.svg-div {
  display: block;
  margin: auto;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.popover {
  pointer-events: none;
  white-space: pre-line;
}
.legendCircle {
  stroke-width: 1;
  stroke: #999;
  stroke-dasharray: 2 2;
  fill: none;
}

.legendLine {
  stroke-width: 1;
  stroke: #d1d1d1;
  shape-rendering: crispEdges;
}

.legendTitle {
  fill: #1a1a1a;
  color: #1a1a1a;
  text-anchor: middle;
  font-size: 10px;
}

.legendText {
  fill: #030303;
  text-anchor: start;
  font-size: 20px;
}
@media (min-width: 500px) {
  .col-sm-3,
  .col-sm-9 {
    float: left;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-3 {
    width: 25%;
  }
}
